a {color: black;}
body {background-color: black;}
text { color: white;
		font-size: 20px; }

label{
	color: white;
}

h1,h2,h3,h6{color: white;}
.codigo{ width: 100px;}



.botao{ background-color: black; 
		color: white;
		border-color: white;
		}

.botao:hover{ background-color: white; 
		color: black;
		border-color: white;
		}

.titulo {
		 width: 220px;
		 border: solid 3px white;
		 border-radius: 20px;
}

.titulo:hover{
	background-color: white;
}